{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/LMJ.css' %}">
</head>
<body>
    <div class = "jjang">
        <div class="part">
            <div class = "title">
                <h1> 짱구의 짝꿍은 누구?</h1>
            </div>        
            <div class = "titl2">
                <h2> * 캐릭터를 선택하세요(선택 시 게임 시작) * </h2>
            </div>
        </div>
        <div class ="part">
            <nav>
                <ul class = "bar" >
                    <button class="btn" >훈이</button>                   
                    <button class="btn2">유리</button>
                    <button class="btn">철수</button>
                    <button class="btn2">맹구 </button>
                </ul>
            </nav>
        </div>

        <div class = "part">
            <div class = "box">
                <button type="button" class="btm_image" id="friend"><img  src="/static/image/훈이.jpg"  height="300px" width="300px" ></button>
                <button type="button" class="btm_image" id="friend"><img src="/static/image/유리.jpg" height="300px" width="300px" ></button>
            </div>
            <div class = "box">
                <button type="button" class="btm_image" id="friend"><img src="/static/image/철수.jpg" height="300px" width="300px" ></button>
                <button type="button" class="btm_image" id="friend"><img src="/static/image/맹구.jpg" height="300px" width="300px" ></button>

            </div>
        </div>
    
    </div>
    <div class = "goo" height="1080px" >
        <script type="text/javascript" src="/static/js/rockscissorspaper.js"></script>
        <div class = "part2" style="position: absolute; " >
            <div class = "titlee" style="position: relative; top: 200px; left:60%  " >
                <h1> 짱구를 이겨서 초코비를 모으자</h1>
            </div>
        </div>
        <div class = "part2">
            <div class = "clock" style="position: relative; top: 390px;" > 
                <div class = "watch"  style="margin-left: 520px;" >            
                    <h1>현재 시각을 알려줄게 -->  </h1>
                    <h1 class = "h1-clock"></h1>
                    <script src = "/static/js/clock.js"></script>
                </div>
                <div class = "watch"  >  
                    <h1> 남은 시간을 알려줄게 --></h1>
                    <h1 id = "timer"></h1>
                    <script src = "/static/js/timer.js"></script>
                </div>             
            </div>
        </div>
        <div class = "part2" style="position: relative; top: 450px;">
            <div id="game">
                <button type="button" id="btnScissors" height="70px" width="70px" >가위</button>
                <button type="button" id="btnRock" height="70px" width="70px" >바위</button>
                <button type="button" id="btnPaper" height="70px" width="70px" >보</button>
                <button type="button" id="btnReset"><img src="/static/image/reset.png" height="80px" width="70px" ></button>
                </div>
                <div id="result">
         
                </div>

        </div>
         <div class = "part2">        
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>          
                    <img src = "/static/image/맹구.jpg" height="100px" width="100px">
                    <h1> ※ 현재 짱구의 짝꿍은 맹구입니다! ※ </h1>
                    <h1> 1위 맹구 : 초코비 277개 </h1>
                    <h1> 2위 유리 : 초코비 88개 </h1>
                    <h1> 3위 훈이 : 초코비 65개 </h1>
                </div>
             </div>
        </div>
    </div>
    <script>
        let all =document.querySelectorAll("#friend");
        for (let i =0; all.length; i+=1){
            all[i].addEventListener('click',function(){
                window.scrollBy({left:0, top:1080, behavior:'smooth'});
            })
        }


    </script> 
</body>
</html>
