<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>세션</h1>

    {% if user.is_authenticated %}
    <p style="font-size:20px;">안녕하세요 {{user}}님:-)
        <a href="{% url 'logout' %}">
            <button>로그아웃</button>
        </a>
    </p>


    {% else %}

    <a href="{% url 'signup' %}">
        <button>회원가입</button>
    </a>

    <a href="{% url 'login' %}">
        <button>로그인</button>
    </a>
    {% endif %}

    <hr>

    <ul>
        {% for post in post %}
        <li><a href="{% url 'detail' post.id %}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

</body>

</html>